.App {
  padding-top: 100px;
}

.filtersBar {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;
}

.result { 
  padding: 50px;
  padding-bottom: 0;
}

.photosContainer {
  display: flex;
  flex-wrap: wrap;
}

.photoItem {
  width: 20%;
  padding: 5px;
  box-sizing: border-box;
}

.photoContainer {
  width: 65%;
  margin: auto;
}

.photoImg {
  width: 100%;
}